DOCKER_DL=/mnt/docker
DOCKER_D1=/mnt/nas/data1/docker
LOCAL_TZ=America/Chicago
TC_REGISTRY=gitea.asyla.org/asyla
TC_IMAGE_TAG=e6ad625d741d46d2638f4692afbfe89b959001bc
DASHBOARD_SECRET_KEY=
DASHBOARD_MODE=production
