#cloud-config
# Cloud-init user-data for ns01 VM
# Hostname must be ns01 so update_scripts.sh (hostname -s) finds the ns01/ directory in the repo

hostname: ns01
fqdn: ns01.asyla.org
manage_etc_hosts: true

timezone: America/Chicago

network:
  version: 2
  ethernets:
    ens18:
      addresses:
        - 10.0.0.10/24
      gateway4: 10.0.0.1
      nameservers:
        addresses:
          - 10.0.0.10
          - 10.0.0.11
        search:
          - asyla.org

packages:
  - cloud-init
  - openssh-server
  - curl
  - git

groups:
  - asyla: 1000
  - docker

users:
  - name: docker
    uid: 1003
    primary_group: asyla
    groups: [asyla, docker, sudo]
    shell: /bin/bash
    lock_passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCejokU+gb5+7sHSY9KkS/jJ1UzwiRwNFhnRQunoyeb+otkOXXqs1wMWg4qPamOOQTiieQNAvaomGcga5PWp35RUp9iQeq2EYzoOZTALruqZpMTuvuFs1dK58mrmsNVOg1s/1AF/S3WOURWPyou+k18LN+tRDu7JrGCs63JquCsNTBf04hiCtUptqP2LCUnJznNJ5B/KbGQbkqtUzuQFR+BImLN0t8U7A4CvmcHniuyYXzC0fmsqTFAw+NVx5WZRtKAVztFWnMLn7a/diiXXHfi84FhBukr4qbiB+LlWIGCUvZOPJrUdsS19L/iDsFS+F88mEnG+UXeopHAPtAUsntN docker@asyla.org

runcmd:
  - systemctl enable ssh || systemctl enable sshd || true
  - systemctl start ssh || systemctl start sshd || true
  - mkdir -p /home/docker/.ssh
  - chmod 700 /home/docker/.ssh
  - chown -R docker:asyla /home/docker/.ssh || true
  - apt-get update || true
  - |
    curl -s https://raw.githubusercontent.com/shepner/asyla/master/ns01/update_scripts.sh | bash || true
  - [ bash, -c, 'test -f /home/docker/scripts/ns01/setup/systemConfig.sh && /home/docker/scripts/ns01/setup/systemConfig.sh || true' ]
  - [ bash, -c, 'test -f /home/docker/scripts/ns01/setup/nfs.sh && /home/docker/scripts/ns01/setup/nfs.sh || true' ]
  - [ bash, -c, 'test -f /home/docker/scripts/ns01/setup/iscsi_install.sh && /home/docker/scripts/ns01/setup/iscsi_install.sh || true' ]
  - [ bash, -c, 'test -f /home/docker/scripts/ns01/setup/docker.sh && /home/docker/scripts/ns01/setup/docker.sh || true' ]
  - [ bash, -c, 'test -f /home/docker/update.sh && /home/docker/update.sh || true' ]
  - [ bash, -c, 'nohup apt-get upgrade -y >> /var/log/cloud-init-upgrade.log 2>&1 &' ]

final_message: |
  ns01 VM setup complete!
  Manual steps:
  1. SSH to ns01: ssh docker@10.0.0.10
  2. Copy SSH keys and config; run ~/scripts/ns01/setup/setup_ssh_keys.sh
  3. Start Pi-hole: ~/scripts/ns01/apps/pihole/pihole.sh up
  4. iSCSI: ~/setup_manual.sh (after adding initiator to TrueNAS for iSCSI target nas01:ns01:01)
